.git
.gitignore

.vscode
.idea

node_modules
**/node_modules

dist
**/dist

build
**/build

coverage
**/coverage

__pycache__
**/__pycache__

*.pyc

.env
.env.*

backend/.env
frontend/.env

backend/uploads

*.log
*.zip
*.sql
*.sql.bak