-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: ai_cre_wimlogic
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `api_usage_logs`
--

DROP TABLE IF EXISTS `api_usage_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_usage_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `provider` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `api_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `endpoint` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `request_count` int DEFAULT '1',
  `estimated_cost` decimal(10,4) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=470 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_approved_design_baselines`
--

DROP TABLE IF EXISTS `cre_approved_design_baselines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_approved_design_baselines` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `baseline_uid` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `project_id` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `property_id` bigint NOT NULL,
  `design_job_id` bigint NOT NULL,
  `image_version_id` bigint NOT NULL,
  `tool_id` bigint NOT NULL,
  `tool_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `design_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `design_scope` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `tool_options_json` json DEFAULT NULL,
  `effective_context_json` json DEFAULT NULL,
  `submitted_payload_json` json DEFAULT NULL,
  `status` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'active',
  `active_scope_key` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci GENERATED ALWAYS AS ((case when (`status` = _utf8mb4'active') then concat(`property_id`,_utf8mb4'|',`design_type`,_utf8mb4'|',`design_scope`) else NULL end)) STORED,
  `approved_by` bigint DEFAULT NULL,
  `approved_at` datetime NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_approved_design_baselines_uid` (`baseline_uid`),
  UNIQUE KEY `uq_approved_design_baselines_image_version` (`image_version_id`),
  UNIQUE KEY `uq_approved_design_baselines_active_scope` (`active_scope_key`),
  KEY `idx_approved_design_baselines_property_id` (`property_id`),
  KEY `idx_approved_design_baselines_project_id` (`project_id`),
  KEY `idx_approved_design_baselines_status` (`status`),
  KEY `idx_approved_design_baselines_type_scope` (`design_type`,`design_scope`),
  KEY `fk_approved_design_baselines_job` (`design_job_id`),
  KEY `fk_approved_design_baselines_tool` (`tool_id`),
  CONSTRAINT `fk_approved_design_baselines_job` FOREIGN KEY (`design_job_id`) REFERENCES `cre_design_jobs` (`id`),
  CONSTRAINT `fk_approved_design_baselines_property` FOREIGN KEY (`property_id`) REFERENCES `cre_properties` (`id`),
  CONSTRAINT `fk_approved_design_baselines_tool` FOREIGN KEY (`tool_id`) REFERENCES `cre_design_tools` (`id`),
  CONSTRAINT `fk_approved_design_baselines_version` FOREIGN KEY (`image_version_id`) REFERENCES `cre_design_image_versions` (`id`),
  CONSTRAINT `chk_approved_design_baselines_status` CHECK ((`status` in (_utf8mb4'active',_utf8mb4'superseded')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_concept_designs`
--

DROP TABLE IF EXISTS `cre_concept_designs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_concept_designs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` varchar(100) NOT NULL,
  `property_id` bigint NOT NULL,
  `scenario_id` int DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `concept_prompt` text NOT NULL,
  `concept_notes` text,
  `image_reference_ids` json DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'draft',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `workflow_execution_id` bigint DEFAULT NULL,
  `design_version` varchar(30) DEFAULT NULL,
  `approved_by` bigint DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_concepts_project_property` (`project_id`,`property_id`),
  KEY `idx_concepts_scenario_id` (`scenario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_design_image_lineage`
--

DROP TABLE IF EXISTS `cre_design_image_lineage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_design_image_lineage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image_version_id` bigint NOT NULL,
  `source_type` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `source_property_image_id` bigint DEFAULT NULL,
  `source_image_version_id` bigint DEFAULT NULL,
  `lineage_role` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'primary',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_design_image_lineage_version_property_image` (`image_version_id`,`source_property_image_id`),
  UNIQUE KEY `uq_design_image_lineage_version_source_version` (`image_version_id`,`source_image_version_id`),
  KEY `idx_design_image_lineage_source_property_image_id` (`source_property_image_id`),
  KEY `idx_design_image_lineage_source_image_version_id` (`source_image_version_id`),
  CONSTRAINT `fk_design_image_lineage_source_property_image` FOREIGN KEY (`source_property_image_id`) REFERENCES `cre_property_images` (`id`),
  CONSTRAINT `fk_design_image_lineage_source_version` FOREIGN KEY (`source_image_version_id`) REFERENCES `cre_design_image_versions` (`id`),
  CONSTRAINT `fk_design_image_lineage_version` FOREIGN KEY (`image_version_id`) REFERENCES `cre_design_image_versions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chk_design_image_lineage_role` CHECK ((`lineage_role` in (_utf8mb4'primary',_utf8mb4'supporting',_utf8mb4'reference',_utf8mb4'parent'))),
  CONSTRAINT `chk_design_image_lineage_source_type` CHECK ((`source_type` in (_utf8mb4'property_image',_utf8mb4'image_version'))),
  CONSTRAINT `chk_design_image_lineage_source_xor` CHECK ((((`source_type` = _utf8mb4'property_image') and (`source_property_image_id` is not null) and (`source_image_version_id` is null)) or ((`source_type` = _utf8mb4'image_version') and (`source_image_version_id` is not null) and (`source_property_image_id` is null))))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_design_image_versions`
--

DROP TABLE IF EXISTS `cre_design_image_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_design_image_versions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `version_uid` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `design_job_id` bigint NOT NULL,
  `property_id` bigint NOT NULL,
  `workflow_execution_id` bigint NOT NULL,
  `version_number` int NOT NULL,
  `file_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `storage_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `thumbnail_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `mime_type` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `file_size` bigint DEFAULT NULL,
  `width` int DEFAULT NULL,
  `height` int DEFAULT NULL,
  `generated_asset_id` bigint DEFAULT NULL,
  `status` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'generated',
  `generated_at` datetime NOT NULL,
  `generated_by` bigint DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_design_image_versions_uid` (`version_uid`),
  UNIQUE KEY `uq_design_image_versions_job_version` (`design_job_id`,`version_number`),
  KEY `idx_design_image_versions_property_id` (`property_id`),
  KEY `idx_design_image_versions_status` (`status`),
  KEY `idx_design_image_versions_workflow_execution_id` (`workflow_execution_id`),
  KEY `fk_design_image_versions_asset` (`generated_asset_id`),
  CONSTRAINT `fk_design_image_versions_asset` FOREIGN KEY (`generated_asset_id`) REFERENCES `cre_generated_assets` (`asset_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_design_image_versions_execution` FOREIGN KEY (`workflow_execution_id`) REFERENCES `cre_workflow_executions` (`execution_id`),
  CONSTRAINT `fk_design_image_versions_job` FOREIGN KEY (`design_job_id`) REFERENCES `cre_design_jobs` (`id`),
  CONSTRAINT `fk_design_image_versions_property` FOREIGN KEY (`property_id`) REFERENCES `cre_properties` (`id`),
  CONSTRAINT `chk_design_image_versions_status` CHECK ((`status` in (_utf8mb4'generated',_utf8mb4'rejected',_utf8mb4'approved',_utf8mb4'superseded')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_design_job_executions`
--

DROP TABLE IF EXISTS `cre_design_job_executions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_design_job_executions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `design_job_id` bigint NOT NULL,
  `workflow_execution_id` bigint NOT NULL,
  `attempt_number` int NOT NULL,
  `is_current` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_design_job_executions_attempt` (`design_job_id`,`attempt_number`),
  UNIQUE KEY `uq_design_job_executions_execution` (`workflow_execution_id`),
  KEY `idx_design_job_executions_job_id` (`design_job_id`),
  CONSTRAINT `fk_design_job_executions_execution` FOREIGN KEY (`workflow_execution_id`) REFERENCES `cre_workflow_executions` (`execution_id`),
  CONSTRAINT `fk_design_job_executions_job` FOREIGN KEY (`design_job_id`) REFERENCES `cre_design_jobs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_design_job_images`
--

DROP TABLE IF EXISTS `cre_design_job_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_design_job_images` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `design_job_id` bigint NOT NULL,
  `property_image_id` bigint NOT NULL,
  `input_role` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'primary',
  `image_knowledge_snapshot_json` json DEFAULT NULL,
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_design_job_images_job_image` (`design_job_id`,`property_image_id`),
  KEY `idx_design_job_images_property_image_id` (`property_image_id`),
  CONSTRAINT `fk_design_job_images_job` FOREIGN KEY (`design_job_id`) REFERENCES `cre_design_jobs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_design_job_images_property_image` FOREIGN KEY (`property_image_id`) REFERENCES `cre_property_images` (`id`),
  CONSTRAINT `chk_design_job_images_input_role` CHECK ((`input_role` in (_utf8mb4'primary',_utf8mb4'supporting',_utf8mb4'reference')))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_design_jobs`
--

DROP TABLE IF EXISTS `cre_design_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_design_jobs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `job_number` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `project_id` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `property_id` bigint NOT NULL,
  `tool_id` bigint NOT NULL,
  `tool_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `design_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `workflow_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `tool_options_json` json DEFAULT NULL,
  `effective_context_json` json DEFAULT NULL,
  `submitted_payload_json` json DEFAULT NULL,
  `status` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'draft',
  `requested_by` bigint DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `job_prompt` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `job_constraints` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_design_jobs_job_number` (`job_number`),
  KEY `idx_design_jobs_property_id` (`property_id`),
  KEY `idx_design_jobs_project_id` (`project_id`),
  KEY `idx_design_jobs_tool_id` (`tool_id`),
  KEY `idx_design_jobs_status` (`status`),
  CONSTRAINT `fk_design_jobs_property` FOREIGN KEY (`property_id`) REFERENCES `cre_properties` (`id`),
  CONSTRAINT `fk_design_jobs_tool` FOREIGN KEY (`tool_id`) REFERENCES `cre_design_tools` (`id`),
  CONSTRAINT `chk_design_jobs_status` CHECK ((`status` in (_utf8mb4'draft',_utf8mb4'submitted',_utf8mb4'processing',_utf8mb4'completed',_utf8mb4'failed',_utf8mb4'cancelled')))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_design_tool_image_requirements`
--

DROP TABLE IF EXISTS `cre_design_tool_image_requirements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_design_tool_image_requirements` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tool_id` bigint NOT NULL,
  `input_role` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `allowed_image_roles_json` json DEFAULT NULL,
  `min_count` int NOT NULL DEFAULT '0',
  `max_count` int DEFAULT NULL,
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_design_tool_img_req_tool_role` (`tool_id`,`input_role`),
  KEY `idx_design_tool_img_req_tool_id` (`tool_id`),
  CONSTRAINT `fk_design_tool_img_req_tool` FOREIGN KEY (`tool_id`) REFERENCES `cre_design_tools` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chk_design_tool_img_req_role` CHECK ((`input_role` in (_utf8mb4'primary',_utf8mb4'supporting',_utf8mb4'reference')))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_design_tool_knowledge_rules`
--

DROP TABLE IF EXISTS `cre_design_tool_knowledge_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_design_tool_knowledge_rules` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tool_id` bigint NOT NULL,
  `knowledge_scope` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `is_required` tinyint(1) NOT NULL DEFAULT '0',
  `include_in_context` tinyint(1) NOT NULL DEFAULT '1',
  `instructions` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `field_code` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_design_tool_knowledge_rules_scope` (`tool_id`,`knowledge_scope`,`field_code`),
  KEY `idx_design_tool_knowledge_rules_tool_id` (`tool_id`),
  CONSTRAINT `fk_design_tool_knowledge_rules_tool` FOREIGN KEY (`tool_id`) REFERENCES `cre_design_tools` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chk_design_tool_knowledge_rules_scope` CHECK ((`knowledge_scope` in (_utf8mb4'project',_utf8mb4'property',_utf8mb4'image',_utf8mb4'design_job')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_design_tool_options`
--

DROP TABLE IF EXISTS `cre_design_tool_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_design_tool_options` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tool_id` bigint NOT NULL,
  `option_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `option_label` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `option_type` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `allowed_values_json` json DEFAULT NULL,
  `default_value` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `is_required` tinyint(1) NOT NULL DEFAULT '0',
  `display_order` int NOT NULL DEFAULT '0',
  `status` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'active',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_design_tool_options_tool_option` (`tool_id`,`option_code`),
  KEY `idx_design_tool_options_tool_id` (`tool_id`),
  CONSTRAINT `fk_design_tool_options_tool` FOREIGN KEY (`tool_id`) REFERENCES `cre_design_tools` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chk_design_tool_options_type` CHECK ((`option_type` in (_utf8mb4'select',_utf8mb4'multiselect',_utf8mb4'boolean',_utf8mb4'number',_utf8mb4'text',_utf8mb4'slider')))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_design_tools`
--

DROP TABLE IF EXISTS `cre_design_tools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_design_tools` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tool_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `tool_name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `design_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `workflow_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `card_image_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `icon_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `business_description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `business_purpose` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `business_instructions` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `input_config_json` json DEFAULT NULL,
  `output_expectations_json` json DEFAULT NULL,
  `status` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'active',
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_design_tools_tool_code` (`tool_code`),
  KEY `idx_design_tools_status` (`status`),
  KEY `idx_design_tools_design_type` (`design_type`),
  KEY `idx_design_tools_display_order` (`display_order`),
  CONSTRAINT `chk_design_tools_status` CHECK ((`status` in (_utf8mb4'active',_utf8mb4'inactive',_utf8mb4'archived')))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_estimates`
--

DROP TABLE IF EXISTS `cre_estimates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_estimates` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `property_id` bigint NOT NULL,
  `scenario` enum('cosmetic','heavy_remodel','demo_rebuild','custom') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `proposed_use` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `proposed_building_sqft` int DEFAULT NULL,
  `proposed_units` int DEFAULT NULL,
  `low_cost` decimal(14,2) DEFAULT NULL,
  `mid_cost` decimal(14,2) DEFAULT NULL,
  `high_cost` decimal(14,2) DEFAULT NULL,
  `cost_per_sqft_low` decimal(10,2) DEFAULT NULL,
  `cost_per_sqft_high` decimal(10,2) DEFAULT NULL,
  `assumptions` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `risk_level` enum('low','medium','high') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'medium',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `workflow_execution_id` bigint DEFAULT NULL,
  `estimate_source` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estimate_version` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `property_id` (`property_id`),
  CONSTRAINT `cre_estimates_ibfk_1` FOREIGN KEY (`property_id`) REFERENCES `cre_properties` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_generated_assets`
--

DROP TABLE IF EXISTS `cre_generated_assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_generated_assets` (
  `asset_id` bigint NOT NULL AUTO_INCREMENT,
  `execution_id` bigint NOT NULL,
  `property_id` bigint NOT NULL,
  `asset_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `asset_category` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `file_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `storage_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `thumbnail_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mime_type` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_size` bigint DEFAULT NULL,
  `version` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`asset_id`),
  KEY `idx_asset_execution` (`execution_id`),
  KEY `idx_asset_property` (`property_id`),
  CONSTRAINT `fk_asset_execution` FOREIGN KEY (`execution_id`) REFERENCES `cre_workflow_executions` (`execution_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_project_properties`
--

DROP TABLE IF EXISTS `cre_project_properties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_project_properties` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` varchar(100) NOT NULL,
  `property_id` bigint NOT NULL,
  `scan_id` varchar(100) DEFAULT NULL,
  `role` varchar(100) DEFAULT NULL,
  `selected` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_project_property` (`project_id`,`property_id`),
  KEY `idx_project_properties_project_id` (`project_id`),
  KEY `idx_project_properties_property_id` (`property_id`),
  KEY `idx_project_properties_scan_id` (`scan_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1805 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_projects`
--

DROP TABLE IF EXISTS `cre_projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_projects` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` varchar(100) NOT NULL,
  `project_name` varchar(255) NOT NULL,
  `description` text,
  `status` varchar(50) NOT NULL DEFAULT 'active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `default_city` varchar(120) DEFAULT NULL,
  `default_state` varchar(50) DEFAULT NULL,
  `main_street` varchar(255) DEFAULT NULL,
  `beginning_address` varchar(255) DEFAULT NULL,
  `ending_address` varchar(255) DEFAULT NULL,
  `side` varchar(50) DEFAULT NULL,
  `scan_mode` varchar(50) DEFAULT NULL,
  `goals` text,
  `hoa_rules` text,
  `climate` text,
  `budget_low` decimal(14,2) DEFAULT NULL,
  `budget_high` decimal(14,2) DEFAULT NULL,
  `preferred_styles` json DEFAULT NULL,
  `design_preferences` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `project_id` (`project_id`),
  KEY `idx_cre_projects_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_properties`
--

DROP TABLE IF EXISTS `cre_properties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_properties` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `property_uid` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `address` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `state` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `zip` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `apn` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `lot_sqft` int DEFAULT NULL,
  `building_sqft` int DEFAULT NULL,
  `year_built` int DEFAULT NULL,
  `zoning_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `existing_use` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `business_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `land_value` decimal(14,2) DEFAULT NULL,
  `improvement_value` decimal(14,2) DEFAULT NULL,
  `total_assessed_value` decimal(14,2) DEFAULT NULL,
  `data_source` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `street_number` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `street_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `side_of_street` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phase2_source` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_address` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(80) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `confidence_score` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `raw_api_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `api_source_url` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bedrooms` int DEFAULT NULL,
  `bathrooms` decimal(3,1) DEFAULT NULL,
  `construction_type` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `existing_materials` json DEFAULT NULL,
  `existing_colors` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `property_uid` (`property_uid`),
  KEY `idx_address` (`address`),
  KEY `idx_apn` (`apn`),
  KEY `idx_city_street` (`city`,`address`),
  KEY `idx_cre_properties_street_number` (`street_number`),
  KEY `idx_cre_properties_street_name` (`street_name`)
) ENGINE=InnoDB AUTO_INCREMENT=930 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_property_analysis_reports`
--

DROP TABLE IF EXISTS `cre_property_analysis_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_property_analysis_reports` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` varchar(100) NOT NULL,
  `property_id` bigint NOT NULL,
  `scenario_id` int DEFAULT NULL,
  `estimate_low` decimal(14,2) DEFAULT NULL,
  `estimate_high` decimal(14,2) DEFAULT NULL,
  `zoning_notes` text,
  `risk_notes` text,
  `recommendation` text,
  `score` decimal(5,2) DEFAULT NULL,
  `report_json` json DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `workflow_execution_id` bigint DEFAULT NULL,
  `workflow_result_id` bigint DEFAULT NULL,
  `analysis_version` varchar(30) DEFAULT NULL,
  `confidence_score` decimal(5,2) DEFAULT NULL,
  `workflow_status` varchar(30) DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_reports_project_property` (`project_id`,`property_id`),
  KEY `idx_reports_scenario_id` (`scenario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_property_images`
--

DROP TABLE IF EXISTS `cre_property_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_property_images` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `property_id` bigint NOT NULL,
  `image_type` enum('street_view','satellite','parcel_map','uploaded') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `image_url` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `provider` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `heading` decimal(8,3) DEFAULT NULL,
  `pitch` decimal(8,3) DEFAULT NULL,
  `fov` decimal(8,3) DEFAULT NULL,
  `cached_path` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `last_checked_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `project_id` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `original_file_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_size` int DEFAULT NULL,
  `file_type` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image_role` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ai_prompt` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `tags` json DEFAULT NULL,
  `constraints` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `priority` int DEFAULT NULL,
  `is_primary` tinyint(1) NOT NULL DEFAULT '0',
  `status` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_deleted` tinyint(1) NOT NULL DEFAULT '0',
  `camera_direction` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `existing_furniture` json DEFAULT NULL,
  `existing_lighting` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `property_id` (`property_id`),
  KEY `idx_property_images_primary` (`property_id`,`is_primary`),
  CONSTRAINT `cre_property_images_ibfk_1` FOREIGN KEY (`property_id`) REFERENCES `cre_properties` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_renovation_scenarios`
--

DROP TABLE IF EXISTS `cre_renovation_scenarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_renovation_scenarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` varchar(100) NOT NULL,
  `property_id` bigint NOT NULL,
  `renovation_type` varchar(100) NOT NULL,
  `scenario_type` varchar(100) DEFAULT NULL,
  `scenario_name` varchar(255) DEFAULT NULL,
  `rationale` text,
  `risk_level` varchar(50) DEFAULT NULL,
  `estimated_complexity` varchar(50) DEFAULT NULL,
  `custom_notes` text,
  `status` varchar(50) NOT NULL DEFAULT 'draft',
  `source` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_scenarios_project_property` (`project_id`,`property_id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_result_sections`
--

DROP TABLE IF EXISTS `cre_result_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_result_sections` (
  `section_id` bigint NOT NULL AUTO_INCREMENT,
  `result_id` bigint NOT NULL,
  `section_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `display_order` int NOT NULL DEFAULT '0',
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `content` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `confidence_score` decimal(5,2) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`section_id`),
  KEY `idx_section_result` (`result_id`),
  CONSTRAINT `fk_section_result` FOREIGN KEY (`result_id`) REFERENCES `cre_workflow_results` (`result_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_scan_jobs`
--

DROP TABLE IF EXISTS `cre_scan_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_scan_jobs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `scan_id` varchar(100) NOT NULL,
  `project_id` varchar(100) NOT NULL,
  `project_name` varchar(255) NOT NULL,
  `main_street` varchar(255) NOT NULL,
  `beginning_address` varchar(255) NOT NULL,
  `ending_address` varchar(255) NOT NULL,
  `side_selection` varchar(50) NOT NULL DEFAULT 'both',
  `status` varchar(50) NOT NULL DEFAULT 'created',
  `found_count` int NOT NULL DEFAULT '0',
  `notes` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `scan_source` varchar(120) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `scan_id` (`scan_id`),
  KEY `idx_scan_jobs_project_id` (`project_id`),
  KEY `idx_scan_jobs_scan_id` (`scan_id`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_scan_properties`
--

DROP TABLE IF EXISTS `cre_scan_properties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_scan_properties` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `scan_id` bigint NOT NULL,
  `property_id` bigint NOT NULL,
  `scan_order` int DEFAULT NULL,
  `side_of_street` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `frontage_street` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `included_reason` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_scan_property` (`scan_id`,`property_id`),
  KEY `property_id` (`property_id`),
  CONSTRAINT `cre_scan_properties_ibfk_1` FOREIGN KEY (`scan_id`) REFERENCES `cre_scans` (`id`),
  CONSTRAINT `cre_scan_properties_ibfk_2` FOREIGN KEY (`property_id`) REFERENCES `cre_properties` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3126 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_scans`
--

DROP TABLE IF EXISTS `cre_scans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_scans` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `scan_uid` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `city` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `state` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `main_street` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `start_address` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `end_address` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `side` enum('north','south','east','west','both') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'both',
  `scan_mode` enum('quick','full') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'quick',
  `status` enum('pending','processing','complete','failed') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `project_id` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `project_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `scan_source` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `scan_uid` (`scan_uid`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_workflow_events`
--

DROP TABLE IF EXISTS `cre_workflow_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_workflow_events` (
  `event_id` bigint NOT NULL AUTO_INCREMENT,
  `execution_id` bigint NOT NULL,
  `event_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`event_id`),
  KEY `idx_event_execution` (`execution_id`),
  CONSTRAINT `fk_event_execution` FOREIGN KEY (`execution_id`) REFERENCES `cre_workflow_executions` (`execution_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=527 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_workflow_executions`
--

DROP TABLE IF EXISTS `cre_workflow_executions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_workflow_executions` (
  `execution_id` bigint NOT NULL AUTO_INCREMENT,
  `execution_number` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `project_id` bigint NOT NULL,
  `property_id` bigint NOT NULL,
  `scenario_id` bigint DEFAULT NULL,
  `workflow_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `workflow_version` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `devtools_execution_id` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Submitted',
  `priority` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Normal',
  `requested_by` bigint DEFAULT NULL,
  `submitted_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `started_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `retry_count` int NOT NULL DEFAULT '0',
  `error_message` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `metadata_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `result_sync_error` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`execution_id`),
  UNIQUE KEY `execution_number` (`execution_number`),
  KEY `idx_exec_project` (`project_id`),
  KEY `idx_exec_property` (`property_id`),
  KEY `idx_exec_status` (`status`),
  KEY `idx_exec_submitted` (`submitted_at`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_workflow_results`
--

DROP TABLE IF EXISTS `cre_workflow_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_workflow_results` (
  `result_id` bigint NOT NULL AUTO_INCREMENT,
  `execution_id` bigint NOT NULL,
  `result_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `result_version` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `response_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `normalized` tinyint(1) NOT NULL DEFAULT '0',
  `received_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`result_id`),
  KEY `idx_result_execution` (`execution_id`),
  CONSTRAINT `fk_result_execution` FOREIGN KEY (`execution_id`) REFERENCES `cre_workflow_executions` (`execution_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cre_zoning_notes`
--

DROP TABLE IF EXISTS `cre_zoning_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cre_zoning_notes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `property_id` bigint NOT NULL,
  `zoning_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `allowed_use_summary` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `conditional_use_notes` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `parking_notes` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `entitlement_risk` enum('low','medium','high') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'medium',
  `source_url` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `property_id` (`property_id`),
  CONSTRAINT `cre_zoning_notes_ibfk_1` FOREIGN KEY (`property_id`) REFERENCES `cre_properties` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-23 14:35:47
